# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# VS Code
.vscode/
bin/

# macOS
.DS_Store

# Spring Boot
*.log
spring-shell.log

# Python
__pycache__/
*.pyc
.venv/
